#NETWORK SETUP CONFIG

ext_gw="192.168.1.254"
int_gw="192.168.3.1"
firewall_ext_ip="192.168.1.82"
firewall_internal_ip="192.168.3.1"
internal_subnet="192.168.3.0/24"
ext_subnet="192.168.1.0"
internal_ip="192.168.3.2"
firewall_ext_nic="wlp0s20u5"
firewall_internal_nic="enp2s0"
internal_ext_nic="wlo1"
internal_nic="enp2s0"
ext_ip="192.168.1.70"


#FIREWALL CONFIG
accepted_tcp="21,20,22,53,80,443"
accepted_udp="53,67,68"
accepted_ICMP_type=(0 8)
UNPRIVPORTS="1024:65535"
IPT="iptables"
PRIVPORTS="0:1023"
